extends layout

block content
  h1 #{title}
  p(style="color: red;") #{error}
  form(method='POST' action='/login')
    div.form-group
        label(for='id') ID
        input.form-control(type='text' id='id' placeholder='ID' name='id' value='#{id}')
    div.form-group
        label(for='pw') PW
        input.form-control(type='password' id='pw' placeholder='PASSWORD' name='pw' value='#{pw}')
    button.btn(type='submit') login
    a(href="/join"): button(type="button") join